<!DOCTYPE html>
<html ng-app="forecastApp">

<head>
  <meta charset="utf-8">
  <title>Cryptoforecast</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
  <link rel="stylesheet" href="./main.css">
</head>

<body ng-controller="forecastController">
  <div class="top-header">
    <div class="label">Coins Forecast</div>
    <input class="currency-code" placeholder="input any curreny/code ( btc, xrp, ripple etc..)" type="text" name="" value="" ng-model="queryCode">
    <button class="sendButton" ng-click="getCodeFromList(queryCode)">Forcast</button>
  </div>
  <div class="container" ng-init="getCoinsList()">
    <div class="error-text" ng-bind="error" ng-show="!result"></div>
    <div class="loading" ng-if="loading">loading..</div>
    <div ng-if="coinData">
      <div ng-if="coinData" class="description">This is the predicted value of <b>{{coinName}}</b> in next 30days</div>
      <table style="width:100%">
        <tr>
          <th>Price (usd)</th>
          <th>Estimated Time</th>
        </tr>
        <tr ng-repeat="coin in coinData">
          <td>{{coin.usd}}</td>
          <td>{{coin.when}}</td>
        </tr>
        <canvas id="line" class="chart chart-line" chart-data="chartData"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas
      </table>
    </div>
  </div>
</body>
<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
<script type="text/javascript" src="./app.js"></script>
<script src="./node_modules/chart.js/dist/Chart.min.js"></script>
<script src="./node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</script>

</html>
