body {
  margin: 0px;
  font-family: 'IBM Plex Serif', serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  margin-top: 30px;
}

.currency-code {
  margin-top: 20px;
  width: 200px;
  font-size: 14px;
  padding-left: 12px;
  height: 22px;
}

.error-text {
  color: red;
  margin-top: 5px;
}

.top-header {
  padding: 40px;
  text-align: center;
  background-color: #0010F5;
}

.top-header .label {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
}

.loading {
  text-align: center;
}

.sendButton {
  width: 80px;
  padding: 5px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th, table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  opacity: 0.7;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

.description {
  margin-bottom: 20px;
  text-align: center;
}
.font-bold{
  font-weight: 700;
}
